<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand white"><%= title %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <% if(!isAuthenticated) { %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-auto mr-1" action="/auth/login" method="POST">
        <input type="text" id="username" name="username" class="form-control mr-1 mobile" placeholder="Username" required autofocus>
        <input type="password" id="password" name="password" class="form-control mr-1 mobile" placeholder="Password" required>
        <button class="btn btn-outline-success my-sm-0 auth-btn-fix" type="submit">Login</button>
      </form>
      <a href="/register" class="btn btn-outline-success my-sm-0 auth-btn-fix">Register</a>
    <% } else { %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= typeof page !== 'undefined' && page === 'search' ? 'active' : '' %>">
          <a class="nav-link" href="/customers/search">Customer Search</a>
        </li>
        <li class="nav-item <%= typeof page !== 'undefined' && page === 'add' ? 'active' : '' %>">
          <a class="nav-link" href="/customers/add">New Customer</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item active">
          <a class="nav-link"><img class="small-nav-image" src="<%= currentUser.image %>"> Hello <%= currentUser.firstName.charAt(0).toUpperCase() + currentUser.firstName.slice(1)%></a>
        </li>
        <% if(currentUser.isAdmin) { %>
          <li class="nav-item active">
            <a class="btn btn-outline-success custom my-2 my-sm-0 ml-1" href="/admin">ACP</a>
          </li>
        <% } %>
        <li class="nav-item active">
          <a class="btn btn-outline-success custom my-2 my-sm-0 ml-1" href="/auth/logout">Log Out</a>
        </li>
      </ul>
    <% } %>
  </div>
</nav>