 <!-- View Notes Modal -->
  <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="notesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notesLabel"><strong>Create A note for <%= foundCustomer.companyName.charAt(0).toUpperCase() + foundCustomer.companyName.slice(1) || foundCustomer.firstName.charAt(0).toUpperCase() + foundCustomer.firstName.slice(1) %></strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if (foundCustomer.notes.length === 0) { %>
            <div class="card mb-1">
              <div class="card-body">
                <div class="card-text">
                  <p>No notes yet!</p>
                </div>
              </div>
            </div>
          <% } %>
          <% foundCustomer.notes.forEach(function(customer) { %>
            <div class="card mb-1">
              <div class="card-body">
                <div class="card-text">
                  <form action="/customers/<%=foundCustomer._id%>/notes/<%=customer.id%>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-danger btn-sm float-right" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                      <i class="fas fa-times"></i>
                    </button>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  </form>
                  <p class="d-block"><span class="create-time d-block"><span class="full">Created On:</span> <%= moment(customer.createdAt).format("dddd, MMMM Do YYYY, h:mm:ss A") %></span><i class="fas fa-spider fa-spin"></i> <%= customer.text %></p>
                </div>
              </div>
            </div>   
          <% }) %>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End View Notes Modal -->