<% include partials/header %>
<div class="container">
  <h1 class="text-center white mb-3 mt-5">
    <%= title %>
  </h1>
  <div class="row">
    <% foundCustomers.forEach(function(customers) { %>
    <% if(foundCustomers.length < 2) { %>
    <div class="col-md-4 offset-md-4">
      <% } else { %>
      <div class="col-md-4">
        <% } %>
        <div class="card">
          <img class="card-img-top customer-image p-4" src="<%= customers.image %>" alt="<%= customers.firstName %>">
          <div class="card-body">
            <h5 class="card-title">
              <%= customers.firstName.charAt(0).toUpperCase() + customers.firstName.slice(1) %>
              <%= customers.lastName.charAt(0).toUpperCase() + customers.lastName.slice(1) %>
            </h5>
            <p class="card-text">
              <%= customers.address %>
            </p>
            <a href="/customers/<%= customers.id %>" class="btn btn-primary">View More</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <% include partials/footer %>