<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <h1 class="text-center white mb-3 mt-3">
      <%= title %>
    </h1>
      <div class="card">
        <div class="card-img-top" id="map"></div>
        <div class="card-body">
          <h5 class="card-title">
            <%= foundCustomer.firstName.charAt(0).toUpperCase() + foundCustomer.firstName.slice(1) %>
            <%= foundCustomer.lastName.charAt(0).toUpperCase() + foundCustomer.lastName.slice(1) %>
          </h5>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="far fa-calendar-alt"></i> Week
              <%= foundCustomer.week %> | Day
              <%= foundCustomer.day %>
            </li>
            <li class="list-group-item">
              <i class="fas fa-phone"></i> Phone: <a href="tel<%= foundCustomer.phoneNumber %>"><%= foundCustomer.phoneNumber %></a>
            </li>
            <li class="list-group-item">
              <i class="fas fa-clock"></i> Time Preference: <%= foundCustomer.time %>
            </li>
          </ul>
          <form class="inline" action="/customers/sms/<%= foundCustomer.id %>" method="POST">
            <button class="btn btn-primary mt-2" type="submit">Send Text</button>
          </form>
          <form class="inline" action="/customers/email/<%= foundCustomer.id %>" method="POST">
            <button class="btn btn-primary mt-2" type="submit">Send Email</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h1 class="text-center white  mb-3 mt-3">Notes</h1>
      <div class="card">
        <img class="card-img-top customer-image p-4" src="<%= foundCustomer.image %>">
        <div class="card-body">
          
            <% if(foundCustomer.notes.length < 1) { %>
            <h5 class="card-title">
              There are no notes for this customer.
            </h5>
            <% } else { %>
            <h5 class="card-title">
              Customer notes:
            </h5>
            <% } %>
          
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</footer>
</div>
<script defer>
  var foundCustomer = <%-JSON.stringify(foundCustomer) %>
</script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" 
    integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" 
    crossorigin="anonymous"></script>


</body>

</html>