<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <h1 class="text-center white mb-3 mt-3">
      <%= title %>
    </h1>
      <div class="card">
        <div class="card-img-top" id="map"></div>
        <div class="card-body">
          <h5 class="card-title">
            <%= foundCustomer.firstName.charAt(0).toUpperCase() + foundCustomer.firstName.slice(1) %>
            <%= foundCustomer.lastName.charAt(0).toUpperCase() + foundCustomer.lastName.slice(1) %>
          </h5>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="far fa-calendar-alt"></i> Week
              <%= foundCustomer.week %> | Day
              <%= foundCustomer.day %>
            </li>
            <li class="list-group-item">
              <i class="fas fa-phone"></i> Phone: <a href="tel<%= foundCustomer.phoneNumber %>"><%= foundCustomer.phoneNumber %></a>
            </li>
            <li class="list-group-item">
              <i class="fas fa-clock"></i> Time Preference: <%= foundCustomer.time %>
            </li>
          </ul>
          <form class="inline" action="/customers/sms/<%= foundCustomer.id %>" method="POST">
            <button class="btn btn-primary mt-2" type="submit">Send Text</button>
          </form>
          <form class="inline" action="/customers/email/<%= foundCustomer.id %>" method="POST">
            <button class="btn btn-primary mt-2" type="submit">Send Email</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h1 class="text-center white  mb-3 mt-3">Notes</h1>
      <div class="card">
        <img class="card-img-top customer-image p-4" src="<%= foundCustomer.image %>">
          <div class="card-body">
            <div class="card">
              <div class="card-header text-right">
                <a class="btn btn-primary pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                <span aria-hidden="true"></span><i class="fas fa-plus"></i> Add new note for <%=foundCustomer.firstName%></a>
              </div>
              <div class="card-body">
                <h4><i class="fas fa-sticky-note"></i> <strong>Notes <span aria-hidden="true"></span></strong></h4>
                <hr class="style-two">
                <!--Collapse Add a comment form START-->
                <div class="collapse" id="collapseComment">
                  <div class="well" style="border-left: 2px solid steelblue;">
                    <!--If the user is logged in, show the new comment form-->
                    <h4><i class="fas fa-pencil-alt"></i> Write your comment <span aria-hidden="true"></span></h4>
                    <form id="add-comment-form" action="/customers/<%= foundCustomer.id %>/notes" method="POST">
                      <div class="form-group">
                        <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" name="text" placeholder="Write your comment..." form="add-comment-form" rows="3" cols="50"></textarea>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary btn-sm"><i class="fas fa-sticky-note"></i> Submit <span aria-hidden="true"></span></button>
                      </div>
                    </form>
                  </div>
                </div>
                <% foundCustomer.notes.forEach(function(note) { %>
                  <div class="row pb-2">
                    <div class="col-md-12">
                      <span class="float-right create-time">Created: <%= moment(note.createdAt).calendar() %></span>
                      <p class="card-text"><i class="fas fa-cog fa-spin"></i> <%= note.text %></p>
                    </div>
                  </div>
                <% }) %>
              </div>
              <!--Collapse Add a comment form END-->
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</footer>
</div>
<script defer>
  var foundCustomer = <%-JSON.stringify(foundCustomer) %>
</script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" 
    integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" 
    crossorigin="anonymous">
</script>

</body>

</html>