<% include partials/header %>
<div class="container">
  <h1 class="text-center white mb-3 mt-5">
    <%= title %>
  </h1>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-img-top" id="map"></div>
        <div class="card-body">
          <h5 class="card-title">
            <%= foundCustomer.firstName.charAt(0).toUpperCase() + foundCustomer.firstName.slice(1) %>
            <%= foundCustomer.lastName.charAt(0).toUpperCase() + foundCustomer.lastName.slice(1) %>
          </h5>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="far fa-calendar-alt"></i> Week
              <%= foundCustomer.week %> | Day
              <%= foundCustomer.day %>
            </li>
            <li class="list-group-item">
              <i class="fas fa-phone"></i> Phone: <a href="tel<%= foundCustomer.phoneNumber %>"><%= foundCustomer.phoneNumber %></a>
            </li>
            <li class="list-group-item">
              <i class="fas fa-clock"></i> Time Preference: <%= foundCustomer.time %>
            </li>
          </ul>
          <form class="inline" action="/customers/<%= foundCustomer.id %>/sms" method="POST">
            <button class="btn btn-primary mt-2" type="submit">Send Text</button>
          </form>
          <form class="inline" action="/customers/<%= foundCustomer.id %>/sms" method="POST">
            <button class="btn btn-primary mt-2" type="submit">Send Text</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script defer>
  var foundCustomer = <%-JSON.stringify(foundCustomer) %>
</script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" 
    integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" 
    crossorigin="anonymous"></script>


</body>

</html>