<% include ../partials/header %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center"><%= title %></h1>
      <h3 class="text-center">Edit User</h3>
      <form action="/admin/<%= editedUser._id %>?_method=PUT" method="POST">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="week">Route</label>
            <select class="form-control form-control-sm" id="week" name="week" required>
              <option value="<%= editedUser.route %>" selected><%= editedUser.route %></option>
              <option value="1">Route 1</option>
              <option value="2">Route 2</option>
              <option value="3">Route 3</option>
              <option value="4">Route 4</option>
              <option value="5">Route 5</option>
              <option value="6">Route 6</option>
              <option value="7">Route 7</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="firstName">First Name</label>
            <input type="text" name="user[firstName]" id="firstName" class="form-control form-control-sm" value="<%=editedUser.firstName %>">
          </div>
          <div class="form-group col-md-4">
            <label for="lastName">Last Name</label>
            <input type="text" name="user[lastName]" id="lastName" class="form-control form-control-sm" value="<%=editedUser.lastName %>">
          </div>
          <div class="form-group col-md-4">
            <label for="username">Username</label>
            <input type="text" name="user[username]" id="username" class="form-control form-control-sm" value="<%=editedUser.username %>">
          </div>
          <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input type="email" name="user[email]" id="email" class="form-control form-control-sm" value="<%=editedUser.email %>">
          </div>
          <div class="form-group col-md-4">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="user[phoneNumber]" id="phoneNumber" class="form-control form-control-sm" value="<%=editedUser.phoneNumber %>">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Edit User</button>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer %>