<% include ../partials/header %>
<div class="container mb-5 pb-5">
  <h1 class="text-center mt-4"><%= title %></h1>
  <h3 class="text-center">Customer Search Results</h3>
  
  <form action="/customers/search/week" method="POST">
    <input type="hidden" name="week" value="<%= foundCustomers.docs[0].week %>">
    <input type="hidden" name="day" value="<%= foundCustomers.docs[0].day %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">Text All</button>
  </form>
  <div class="row mt-4">
    <% foundCustomers.docs.forEach(function(customers) { %>
    <% if(foundCustomers.length < 2) { %>
    <div class="col-md-6 offset-md-3">
      <% } else { %>
      <div class="col-md-6">
        <% } %>
        <div class="card height-fix mb-2">
          <img class="card-img-top customer-image p-4" src="<%= customers.image %>" alt="<%= customers.firstName %>">
          <div class="card-body">
            <h5 class="card-title">
            <%= customers.lastName.charAt(0).toUpperCase() + customers.lastName.slice(1) %>,
            <%= customers.firstName.charAt(0).toUpperCase() + customers.firstName.slice(1) %>
            <% if(customers.companyName) { %>
              / <%= customers.companyName.charAt(0).toUpperCase() + customers.companyName.slice(1) %>
            <% } %>
            </h5>
            <address>
              <% if(customers.fromTime && customers.toTime === "anytime") { %>
                <p class="card-text">Time: <%= customers.fromTime.charAt(0).toUpperCase() + customers.fromTime.slice(1) %></p>
              <% } else { %>
                <p class="card-text">Time: <%= customers.fromTime %> - <%= customers.toTime %></p>
              <% } %>
              <p class="card-text"><%= customers.address %></p>
              <p class="card-text">Phone: <%= customers.phoneNumber %></p>
            </address>
            <div class="row">
              <% if (customers.preference !== "call") { %>
                <div class="col move-to-bottom">
                  <form action="/customers/sms/<%= customers.id %>" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-success btn-block mb-2" type="submit">Send Text</button>
                  </form>
                </div>
              <% } %>
              <div class="col move-to-bottom">
                <a href="/customers/<%= customers.id %>" class="btn btn-primary btn-block mb-2">View More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<% include ../partials/footer %>