<% include ../partials/header %>
<div class="py-4">
  <h1 class="text-center"><i class="fas fa-address-card fa-sm"></i> <a href="http://maps.google.com/maps?q=<%= foundCustomer.address %>" target="_blank"><%= foundCustomer.address %></a></h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-2">
        <div class="border shadow rounded" id="map"></div>
      </div>
      <div class="col-md-4 mt-2">
        <div class="card text-white bg-secondary text-center shadow mb-2">
          <div class="card-body">
            <p class="text-white m-0">Customer Information</p>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><i class="fas fa-user"></i>
            <% if(!foundCustomer.companyName) { %>
              <%= foundCustomer.firstName.charAt(0).toUpperCase() + foundCustomer.firstName.slice(1) %> 
              <%= foundCustomer.lastName.charAt(0).toUpperCase() + foundCustomer.lastName.slice(1) %>
            <% } else { %>
              <%= foundCustomer.companyName %>
            <% } %>
          </li>
          <% if(foundCustomer.companyName) { %>
            <%= foundCustomer.firstName.charAt(0).toUpperCase() + foundCustomer.firstName.slice(1) %> 
            <%= foundCustomer.lastName.charAt(0).toUpperCase() + foundCustomer.lastName.slice(1) %>
          <% } %>
          <li class="list-group-item"><i class="fas fa-clock"></i>
            <% if(foundCustomer.toTime && foundCustomer.fromTime === 'anytime') { %>
              Anytime
            <% } %>
          </li>
          <li class="list-group-item"><i class="fas fa-phone"></i> <a href="tel:+1<%=foundCustomer.phoneNumber%>"><%=foundCustomer.phoneNumber%></a></li>
          <li class="list-group-item"><i class="fas fa-calendar-alt"></i>
            Week: <%= foundCustomer.week %> Day: <%= foundCustomer.day %> /
            <% if(foundCustomer.frequency === 1) { %>
              Monthly
            <% } else if(foundCustomer.frequency === 2) { %>
              Bimonthly
            <% } else { %>
              Quarterly
            <% } %>
          </li>
        </ul>
        <ul class="list-group mt-2">
          <li class="list-group-item">
            <button type="button" class="btn btn-outline-info btn-block shadow" data-toggle="modal"   data-target="#viewModal">
              View Notes <span class="badge badge-info ml-2"><%= foundCustomer.notes.length %></span>
            </button>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-primary btn-block shadow" data-toggle="modal" data-target="#noteModal">
              Add Note
            </button>
          </li>
          <% if(foundCustomer.preference === 'text') { %>
            <li class="list-group-item">
              <form action="/customers/sms/<%= foundCustomer.id %>" method="POST">
                <button class="btn btn-success btn-block shadow" type="submit">Send Text</button>
              </form>
            </li>
          <% } %>
          <li class="list-group-item">
            <a href="/customers/<%= foundCustomer.id %>/edit" class="btn btn-warning btn-block shadow">Edit Customer</a>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-danger btn-block shadow" data-toggle="modal" data-target="#deleteModal">
              Delete Customer
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% include ../partials/noteModal %>
<% include ../partials/viewNote %>
<% include ../partials/deleteModal %>
<!--<footer class="navbar fixed-bottom navbar-dark bg-dark footer">
  <p class="text-center white footer-text">Copyright &copy;
    <span id="year"></span> by Darrell Pawson. All rights reserved.
  </p>
</footer>-->
<script defer>
  var foundCustomer = <%-JSON.stringify(foundCustomer) %>
</script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/map.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
<script src="/javascripts/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.4.2/js/all.js" integrity="sha384-wp96dIgDl5BLlOXb4VMinXPNiB32VYBSoXOoiARzSTXY+tsK8yDTYfvdTyqzdGGN" crossorigin="anonymous"></script>

</body>

</html>