<% include ../partials/header %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center"><%= title %></h1>
      <h3 class="text-center">Edit Customer</h3>
      <form action="/customers/<%= editedCustomer._id %>?_method=PUT" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="week">Week </label>
            <select class="form-control form-control-sm" id="week" name="week" required>
              <option value="<%= editedCustomer.week %>" selected><%= editedCustomer.week %></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="day">Day</label>
            <select class="form-control form-control-sm" id="day" name="day" required>
              <option value="<%= editedCustomer.day %>" selected><%= editedCustomer.day %></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control form-control-sm" value="<%=editedCustomer.firstName %>">
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="form-control form-control-sm" value="<%=editedCustomer.lastName %>">
          </div>
          <div class="form-group col-md-6">
            <label for="companyName">Company Name(optional)</label>
            <input type="text" name="companyName" id="companyName" class="form-control form-control-sm" value="<%=editedCustomer.companyName %>">
          </div>
          <div class="form-group col-md-6">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control form-control-sm" value="<%=editedCustomer.phoneNumber %>" required>
          </div>
          <div class="form-group col-md-6">
            <label for="address">Address</label>
            <input type="text" name="address" id="address" class="form-control form-control-sm" value="<%=editedCustomer.address %>" required>
          </div>
          
          <div class="form-group col-md-6">
            <label for="frequency">Frequency</label>
            <select class="form-control form-control-sm" id="frequency" name="frequency" required>
              <option value="<%= editedCustomer.frequency %>" selected><%= editedCustomer.frequency %></option>
              <option value="Monthly">Monthly</option>
              <option value="Bi-Monthly">Bi-Monthly</option>
              <option value="Quarterly">Quarterly</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="preference">Contact Preference</label>
            <select class="form-control form-control-sm" id="preference" name="preference" required>
              <option value="<%= editedCustomer.preference %>"><%= editedCustomer.preference %></option>
              <option value="Call">Call</option>
              <option value="Text">Text</option>
              <option value="Email">Email</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="timeSelect">From Time</label>
            <select class="form-control form-control-sm" id="timeSelect" name="fromTime" required>
              <option value="<%= editedCustomer.time %>" selected><%= editedCustomer.fromTime %></option>
              <option >From Time</option>
              <option value="anytime">Anytime</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="timeSelect1">To Time</label>
            <select class="form-control form-control-sm" id="timeSelect1" name="toTime" required>
              <option value="<%= editedCustomer.time %>" selected><%= editedCustomer.toTime %></option>
              <option >To Time</option>
              <option value="anytime">Anytime</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Edit Customer</button>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer %>